{% load static %}

<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8">
    <title>Django Anúncios</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
</head>


<body>


<div class="ui large attached menu">
    <div class="ui container">
  <a href="{% url 'home' %}" class="item">Django Anúncios</a>
  <div class="right menu">
        <div class="ui right aligned category search item">
              <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Pesquisar...">
                <i class="search link icon"></i>
              </div>
              <div class="results"></div>
        </div>
      </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui dividing header">Categorias</div>
            <div class="ui vertical fluid menu">
                {% for categoria in categorias %}

              <a href="{% url 'categoria' categoria.id %}" class="item">
                {{ categoria }}
              </a>
              {% endfor %}
        </div>
    </div>

        <div class="twelve wide column">
            {% if categoria %}
            <h1 class="ui header">{{ categoria }}</h1>
            {% endif %}

            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui inverted vertical segment">
<div class="ui hidden divider"></div>
<div class="ui container">
<div class="ui stackable inverted divided equal height stackable grid">
<div class="three wide column">
<h4 class="ui inverted header">Menu</h4>
<div class="ui inverted link list">
<a href="#" class="item">Anuncie</a>
<a href="#" class="item">Sitemap</a>
<a href="#" class="item">Contato</a>
</div>
</div>
<div class="three wide column">
<h4 class="ui inverted header">Caterias mais populares</h4>
<div class="ui inverted link list">
<a href="#" class="item">Automoveis</a>
<a href="#" class="item">Imóveis</a>
<a href="#" class="item">Eletrônicos</a>
</div>
</div>
<div class="seven wide column">
<h4 class="ui inverted header">Sobre</h4>
<p>Este é um site exemplo de código aberto criado pela Solyd Treinamentos</p>
</div>
</div>
</div>
<div class="ui hidden divider"></div>
</div>
</div>
</body>
</html>



</body>




</html>